body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
  font-family: sans-serif;
  background-image: url(/src/pages/Login/Untitled.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login,
.signup {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 1rem;
  border: 1px solid #00000068;
  border-radius: 3rem;
  box-shadow: 0 8px 32px;
}
.welcome {
  position: relative;
  background-color: #7c3aed;
}
.welcome-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome h1 {
  font-size: 2.5rem;
  color: white;
}
.welcome p {
  font-size: 1rem;
  color: white;
}
.btn-signup {
  color: #7c3aed;
  background: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 100%;
}

.btn-signup:hover {
  background: #7c3aed;
  color: white;
  transform: scale(1.05);
}

.container {
  display: grid;
  border-radius: 0 3rem 3rem 0;
  backdrop-filter: blur(1rem);
  padding: 2rem;
  font-size: 1.2rem;
  color: #000;
  background: #fff;
}
.container h1 {
  letter-spacing: 1px;
  font-size: 2.5rem;
  text-align: center;
  color: #7c3aed;
}
.input {
  position: relative;
  border-bottom: 2px solid rgba(6, 6, 6, 0.3);
  margin: 1.5rem 0;
}
.input label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
}
.input input {
  width: 100%;
  height: 2.5rem;
  background: #7c3aed0c;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000000d2;
  padding: 0 10px;
}
.input input:focus ~ label,
.input input:valid ~ label,
.input input:invalid ~ label {
  font-size: 0.9rem;
  top: 10px;
  transform: translateY(-150%);
}
button {
  background-color: #7c3aed;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  align-items: center;
}
.a-login {
  color: #7c3aed;
}
